table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid black; /* Atur border untuk sel dan header */
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
